@use './styles/tokens';
@use './styles/animations';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-optical-sizing: auto;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: -.02em;
}

@theme {
  --color-primary:   rgb(213, 175, 138);
  --color-secondary: rgb(20, 121, 174);
}
